<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página de Inicio</title>
</head>
<body>
<h1>Lista de personas: </h1>
<div th:if="${individuos != null and !individuos.empty}">
    <table border="1">
        <tr>
            <th>Nombre:</th>
            <th>Apellido:</th>
            <th>Edad:</th>
            <th>Correo:</th>
            <th>Telefono:</th>
        </tr>
        <tr th:each="individuo : ${individuos}">
            <td th:text="${individuo.nombre}">Muestra nombre</td>
            <td th:text="${individuo.apellidos}">Muestra apellido</td>
            <td th:text="${individuo.edad}">Muestra edad</td>
            <td th:text="${individuo.correo}">Muestra correo</td>
            <td th:text="${individuo.telefono}">Muestra telefono</td>
        </tr>
    </table>
</div>
<div th:if="${individuos == null or individuos.empty}">
    <h2>No hay individuos en la lista</h2>
</div>
</html>